.userSettings {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;

  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .settingsWrapper {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .left {
      display: flex;
      align-items: center;
      width: 60%;
      margin-top: 20px;
      justify-content: space-between;
      padding: 10px;

      .imgUpdate {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        img {
          width: 300px;
          height: 300px;
          border-radius: 20px;
          object-fit: cover;
          // margin-right: 70px;
        }

        label {
          font-size: 18px;
          text-align: center;
          font-weight: 600;
          border-bottom: 1px solid #333;
          cursor: pointer;
        }
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        gap: 10px;

        .data {
          display: flex;
          flex-direction: column;

          label {
            font-size: 15px;
            font-weight: 600;
          }

          input[type="text"],
          input[type="email"],
          input[type="password"] {
            width: 130%;
            padding: 8px;
            outline: none;
            border-radius: 5px;
            border: 1px solid rgb(114, 111, 111);
            margin-top: 5px;
          }
        }

        .buttons {
          display: flex;
          gap: 10px;
          align-items: center;

          .myBlogs,
          .update {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid rgb(149, 145, 145);
            cursor: pointer;
            background-color: #0077b6;
            color: white;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }

    // .top {
    //   display: flex;
    //   justify-content: space-between;

    //   .left {
    //     display: flex;
    //     align-items: center;
    //     gap: 10px;
    //     margin-bottom: 20px;
    //     justify-content: center;

    //     .imgUpdate {
    //       display: flex;
    //       flex-direction: column;
    //       height: auto;
    //       align-items: center;

    //       img {
    //         width: 80px;
    //         height: 80px;
    //         border-radius: 5px;
    //         object-fit: cover;
    //       }

    //       label {
    //         font-size: 15px;
    //         margin-top: 5px;
    //         border-bottom: 1px solid #333;
    //         cursor: pointer;
    //       }
    //     }
    //   }
    // }
    // .bottom {
    //   width: 300px;
    //   padding: 20px;
    //   border-radius: 10px;

    //   form {
    //     .data {
    //       display: flex;
    //       flex-direction: column;
    //       margin-bottom: 10px;

    //       label {
    //         font-size: 18px;
    //         font-weight: 500;
    //         color: #333;
    //         margin-bottom: 5px;
    //       }

    //       input[type="text"],
    //       input[type="email"],
    //       input[type="password"] {
    //         padding: 8px;
    //         border-radius: 5px;
    //         border: 1px solid rgb(165, 165, 165);
    //         outline: none;
    //       }
    //     }
    //     .buttons {
    //       display: flex;
    //       gap: 10px;
    //       align-items: center;

    //       .myBlogs,
    //       .update {
    //         padding: 10px;
    //         border-radius: 5px;
    //         border: 1px solid rgb(149, 145, 145);
    //         cursor: pointer;
    //         background-color: #0077b6;
    //         color: white;
    //         font-size: 16px;
    //         font-weight: 500;
    //         margin: 0;
    //       }
    //     }
    //   }
    // }
  }
}
