.register {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #f7f7f7;

  .registerWrapper {
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: max-content;

    h1 {
      margin-bottom: 10px;
      font-size: 30px;
    }

    form {
      display: flex;
      flex-direction: column;

      .data {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 2px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 90%;
          padding: 10px;
          border-radius: 5px;
          outline: none;
          border: 1px solid rgb(114, 102, 102);
        }

        input[type="file"] {
          width: 90%;
          padding: 10px;
        }

        .inputData {
          display: flex;
          align-items: center;
          justify-content: center;
          .fileInput {
            display: flex;
            //   justify-content: space-between;
            flex-direction: column;
            width: 100%;

            label {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 2px;
            }

            input[type="file"] {
              width: 90%;
              padding: 10px;
              border-radius: 5px;
              outline: none;
            }
          }

          div {
            img {
              width: 50px;
              height: 50px;
              margin: 5px;
              border-radius: 5px;
            }
          }
        }
      }

      button {
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: 1px solid rgb(106, 102, 102);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
  }
}
